#
# For security reasons, settings.yaml is not part of the repository.
# You may use this file as a base for setting up your own settings file.

twitter:
  appKey:     "appKeyHere"
  appSecret:  "appSecretHere"
